<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.png">
  <meta name="viewport" content="width=device-width">
  <title>Rainbow — Market opportunities on DeFi options</title>
  <meta content="Rainbow — Market opportunities on DeFi options" name="description">
  <meta content="Rainbow — Market opportunities on DeFi options" name="twitter:title">
  <meta content="Rainbow — Market opportunities on DeFi options" property="og:title">
  <meta content="Rainbow — Market opportunities on DeFi options" property="og:description">
  <meta content="Rainbow — Market opportunities on DeFi options" property="og:image:alt">
  <meta content="/preview.jpg" name="twitter:image:src">
  <meta content="/preview.jpg" property="og:image">
  <meta property="og:type" content="object">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@TealFinance">
  <meta property="og:site_name" content="Teal.Finance">
  <meta property="og:url" content="https://teal.finance/rainbow">
  <link rel="canonical" href="https://teal.finance/rainbow">
  <meta name="theme-color" content="#2fa66d">
  <meta name="color-scheme" content="light dark">
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.ts"></script>
</body>

<footer style="text-align:center">
  Copyright © 2022 Rainbow contributors —
  <a href="<%- VersionEndpoint %>">
    <%- VersionInformation %>
  </a>
</footer>

</html>
