**/node_modules/
**/build/
**/.git/
**/.github/
**/.gitignore
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/*.md
/doc/
/poc/
**/test
Makefile
LICENSE
**/local.env
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/.DS_Store
**/.bin
**/.bundleignore
**/.bundle
**/.byebug_history
**/.rspec
**/tmp
**/log
**/config/deploy
**/config/master.key
**/public/packs
**/public/packs-test
**/yarn-error.log
**/coverage/
